body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(11, 11, 11);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #125A5A;
}

.active {
  background-color: #125A5A;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

dialog{
    position: relative;
}

